<link rel="stylesheet" href="/views/css/footer.css">
<section>
    <div class="div9">
        <div class="div10">
            <div>
                <img src="/views/images/map-new.svg" height="30" alt="">
                <div>
                    <span class="sp9">Find Us</span>
                    <span class="sp10"> No. 4 Iduoze off Uwagboe, Ugbowo, Benin City</span>
                </div>
            </div>
            <div>
                <img src="/views/images/call-new.svg" height="30" alt="">
                <div>
                    <span class="sp9">Call Us</span>
                    <span class="sp10">+2349037680669 & +2348159733854</span>
                </div>
            </div>
        </div>
        <div class="div11">
           <div>
                <div class="div12">
                   <span class="sp11">About Us</span>
                    <span class="sp12">We offer comprehensive services that range from creating your project's prototype to finishing up manufacturing of your desired project, including software development and hardware production. In addition, we provide support and maintenance services following the project's conclusion.</span>
                </div>
                <div class="div12">
                    <span class="sp11">Follow Us</span>
                    <div>
                        <a href=""><img src="/views/images/linkedin.svg" height="35" class="footer" alt=""></a>
                        <a href=""><img src="/views/images/facebook.svg" height="35" class="footer" alt=""> </a>
                        <a href=""><img src="/views/images/twitter.svg" height="35" class="footer" alt=""></a>
                    </div>
                </div>
           </div>
           <div>
                <span class="sp11">Useful Links</span>
                <div class="div13">
                    <div>
                        <a href="/smac">SMAC</a>
                        <a href="/Devfi">DevFi</a>
                        <a href="/s-switch">S-Switch</a>
                        <a href="">S-DevApp</a>
                        <a href="">TronicsPlace.com</a>
                    </div>
                    <div>
                        <a href="/news">News & Blog</a>
                        <a href="/careers">Careers</a>
                        <a href="/contact">Contact Us</a>
                        <a href="/T&C">Terms & Conditions</a>
                    </div>
                </div>
           </div> 
        </div>
        <footer class="fo1">© 2022 SIGHT-INNOVATION LLC</footer>
    </div>
</section>