<link rel="stylesheet" href="/views/css/home.css">
<section>
    <div class="div2">
        <span class="ninth1 main1"></span>
        <span class="tenth1 main1"></span>
        <div class="div3">
            <span class="sp2">Develop and produce electronics and websites for you and your business.</span>
            <a href="/contact" class="contact">Contact Us ❯</a>
        </div>
        <img src="/views/images/18907.jpg" class="banner" alt="">
        <span class="main1 first1"></span>
        <span class="main1 second1"></span>
        <span class="main1 third1"></span>
        <span class="main1 fourth1"></span>
        <span class="main1 fifth1"></span>
        <span class="main1 sixth1"></span>
        <span class="main1 seventh1"></span>
    </div>
    <!-- <div class="div4">
        <div class="div5">
                <span>Smac</span>
                <img src="/views/images/38786-2420847.jpg" class="img3" alt="">
                <span class="sp4"></span>
                <span><span class="sp5">SMAC</span> is a safety device that helps protect your home or office appliances and devices against high voltage, short circuit, surge etc. It equally comes with additional features such as automatic changeover between different power sources, built-in wifi for mobile control, timer control and lots more. Live & Work Smarter, Safer & more Efficiently with SMAC</span>
                <a href="/smac" class="smac">Learn more ❯</a>
        </div>
        <div class="div5 div51">
                <span class="sp3">Smart Switch</span>
                <img src="/views/images/smart-removebg-preview.png" class="img3 switch1" alt="">
                <span class="sp6"><span class="sp5">SMART SWITCH</span> is an electronic device that enable you control & know the status of your devices, machine and appliances from anywhere and anytime. It equally comes with dynamic timer control which enable you to time the running of your devices or machines. Control & Know the Status of your Devices, Machines or Appliances Anytime & from Anywhere.</span>
                <a href="/s-switch" class="smac">Learn more ❯</a>
        </div>
        <div class="div5 div52">
                <span class="sp3">S-DevApp</span>
                <img src="/views/images/6532.jpg" class="img3" alt="">
                <span class="sp8">S-DevApp is coming soon to both Apple app store and Google play store for free for you to control your Sight-Devices AnyDay, AnyTime and from AnyWhere</span>
                <div class="div81">
                    <img src="/views/images/apple2.png" height="45" alt="">
                    <img src="/views/images/playstore3.png" alt="">
                </div>
        </div>
    </div> -->
    <div class="content1">
        <div class="div4">
            <div class="div41">
                <span class="robox rot1"></span>
                <span class="robox rot2"></span>
                <span class="robox rot3"></span>
                <span class="robox rot4"></span>
                <span class="robox rot5"></span>
            </div>
            <div class="div42">
                <div>
                    <span class="smac-sp">SMAC</span>
                    <span class="smac-sp2">SMAC is a safety device that helps protect your home or office appliances and devices against high voltage, short circuit, surge etc. It equally comes with additional features such as automatic changeover between different power sources, built-in wifi for mobile control, timer control and lots more. Live & Work Smarter, Safer & more Efficiently with SMAC</span>
                    <a href="/smac" class="smac">Learn more ❯</a>
                </div>
                <img src="/views/images/38786-2420847-removebg-preview.png" class="img3" alt="">
            </div>
            
        </div>
    </div>
    <div class="content1">
        <div class="div5">
            <div class="div51">
            </div>
            <div class="div52">
                <img src="/views/images/smart-removebg-preview.png" class="img3 switch1" alt="">
                <div>
                    <span class="s-sp">SMART SWITCH </span>
                    <span class="s-sp2">SMART SWITCH is an electronic device that enable you control & know the status of your devices, machine and appliances from anywhere and anytime. It equally comes with dynamic timer control which enable you to time the running of your devices or machines. Control & Know the Status of your Devices, Machines or Appliances Anytime & from Anywhere.</span>
                    <a href="/s-switch" class="s-sw">Learn more ❯</a>
                </div>
            </div>
        </div>
    </div>
    <div class="div6">
        <div class="div61">
            <span class="s-dev-sp">S-DEV-APP</span>
            <span class="s-dev-sp1">S-Dev App is coming soon to both Apple store and Google play store for free for you to control your Sight-Devices AnyDay, AnyTime and from AnyWhere</span>
        </div>
        <div class="div62">
            <div>
                <img src="/views/images/apple3.png" alt="" height="45"><br>
                Coming soon on apple store
            </div>
            <div>
                <img src="/views/images/playstore3.png" alt="" height="45"><br>
                Coming soon on play store  
            </div>
        </div>
    </div>
    <script src="/views/js/home.js"></script>
</section>